.banner-contacto {
  background-image: url("../images/banner-contacto.jpg");
}

.contactos {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.contacto-link {
  text-decoration: none;
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacto-logo {
  width: 60px;
}

.contacto-nombre {
  color: #f5f5f5;
  text-decoration: none;
  font-size: 16px;
  margin: 10px 0px;
  font-weight: 500;
}
