.banner-elenco {
  background-image: url("../images/banner-elenco.jpg");
}

.personajes-principales {
  width: 80%;
  max-width: 1800px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 80px;
}

.personaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #141414;
  border-radius: 30px;
  padding-bottom: 32px;
  transition: all 0.4s ease-in-out;
}

.personaje:hover {
  transform: scale(105%);
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    -4px 1px 32px 11px rgba(0, 0, 0, 0.3);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    -4px 1px 32px 11px rgba(0, 0, 0, 0.3);
}

.personaje-imagen {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: top;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.personaje-nombre {
  margin: 0px;
  font-size: 28px;
  font-weight: bold;
  margin-top: 32px;
}

.personaje-nacimiento {
  margin: 0px;
}

.personaje-descripcion {
  width: 80%;
  text-align: center;
}
