.banner-contacto {
  background-image: url("../images/banner-contacto.jpg");
}

.formulario {
  width: 90%;
  max-width: 400px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formulario-campo {
  height: 50px;
  padding: 0px 22px;
  border-radius: 100px;
  font-size: 14px;
  outline: none;
  background-color: transparent;
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
  box-sizing: border-box;
}

.formulario-mensaje {
  height: 100px;
  padding: 22px;
  border-radius: 20px;
  font-size: 14px;
  background-color: transparent;
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
  resize: none;
  outline: none;
}

.formulario-boton {
  border: none;
  align-self: center;
  margin-right: 0px;
  margin-top: 10px;
}
